@use "sass:color";

$mainColor: #40afff;
$accentColor: adjust-hue($mainColor, 25deg);
$bgColor: color.adjust($mainColor, $lightness: 90%);
$borderColor: #000; //color.adjust($mainColor, $blackness: 20%);
$textColor: #002844;

// Header
$headerBgColor: $accentColor;

// Post
$idColor: $accentColor;
$postBgColor: $mainColor;
$postBgColorHover: color.adjust($postBgColor, $lightness: 10%);

// CreatePost
$postButtonBorder: $borderColor;
