@use "sass:color";

$mainColor: #40afff;
$accentColor: adjust-hue($mainColor, 25deg);

$bgColor: color.adjust($mainColor, $lightness: 90%);
$borderColor: #000;
$textColor: #002844;

// Header
$headerBgColor: $accentColor;

// Post
$idColor: $accentColor;
$postBgColor: $mainColor;
$postBgColorHover: color.adjust($postBgColor, $lightness: 5%);

$linkColor: adjust-hue($accentColor, 30deg);
$linkColorVisited: color.adjust($linkColor, $saturation: -50%);
$linkColorHover: adjust-hue($accentColor, 30deg);

// CreatePost
$postButtonBorder: $borderColor;
