$breakpoints: (
    "phone": 400px,
    "phone-wide": 480px,
    "phablet": 560px,
    "tablet-small": 640px,
    "tablet": 768px,
    "tablet-wide": 1024px,
    "desktop": 1248px,
    "desktop-wide": 1440px,
);
@mixin mq($width, $type: min) {
    @if map_has_key($breakpoints, $width) {
        $width: map_get($breakpoints, $width);
        @if $type == max {
            $width: $width - 1px;
        }
        @media only screen and (#{$type}-width: $width) {
            @content;
        }
    }
}

// .site-header {
//     padding: 2rem;
//     font-size: 1.8rem;
//     @include mq("tablet-wide") {
//         padding-top: 4rem;
//         font-size: 2.4rem;
//     }
// }

// @function z($name) {
//     @if index($z-indexes, $name) {
//         @return (length($z-indexes) - index($z-indexes, $name)) + 1;
//     } @else {
//         @warn 'There is no item "#{$name}" in this list; choose one of: #{$z-indexes}';
//         @return null;
//     }
// }
// $z-indexes: (
//     "outdated-browser",
//     "modal",
//     "site-header",
//     "page-wrapper",
//     "site-footer"
// );
// .site-header {
//     z-index: z('site-header');
// }

// @mixin hardware($backface: true, $perspective: 1000) {
//     @if $backface {
//         backface-visibility: hidden;
//     }
//     perspective: $perspective;
// }

@import "colors";

@mixin border {
    border: 1px solid $borderColor;
}

@mixin smallScreen {
    @media screen and (max-width: 1050px) {
        @content;
    }
}
